

header {
    width: 92vw;
    height: 22vh;
    background-color: $beige;
    display: block;
    padding: 40px;

    .img-mate{
        height: 90px;
        width: 100px;
        display:block
    
    }
    .titulo-principal{
        font-size: 30px;
        font-style: oblique;
        text-align: left;
        position: relative;
        color: $marronclaro;
    }
    nav {
        font-size: 20px;
    }
        ul {
             list-style: none;
             padding: 0;
             margin: 0;
             background-color: $amarillo;
             line-height: 30px;
             text-align: center;
    
    }
          li {
             width: 100px;
             display: inline-block;
             font-family: 'Courgette', cursive;
       
    }

            a {
                text-decoration: none;
                display:block;
                color: rgb(5, 5, 5);
                font-family: 'Courgette', cursive;
    }
 
}
h1 {
    font-family: 'Lobster Two', cursive;
}











