main {
    main div p {
        color: $amarillo;
    
    }
    #indexmain {
        width: 100vw;
        
    
    }
    h2 {
        color: $beige;
    }
    h5 {
        color:$marronclaro;
    }
    .carousel-item {
        height: 150vh;
    
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;

    }
}









